@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ethan's Webpage";
    ViewData["Calculator"] = "Grade Calculator";
}



<!--The body contains information about ethan ritchie-->

<h1>Ethan Ritchie</h1>
<img src="img/IMG_20190712_144250_1 (1).jpg" />



<br />
<p>
    I am very excited to be in IS 413! I don't know a ton aboout ASP.NET or C# but I am
    excited to learn how to do the "big boy coding" to reference Prof. Hilton. I really am interested in just becoming a better web
    developper and using my skills to create cool web apps. I hope that IS 413 will help me accomplish this and continue to grow in my
    skills. '
</p>

<h2>Jobs I want to persue</h2>
<ul>
    <li>Developer (Either web or software)</li>
    <li>Business intelligence by using data analytics</li>
    <li>Machine learning and AI</li>
    <li>I'm also really interested in Cyber security but don't know a ton about it yet. </li>
</ul>



